.container{
    width: 1050px;
    height: 1050px;
    border-style: groove;
    position: relative;
}

.box{
    width: 250px;
    height: 250px;
    border:10px;
    
    border-style: double;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 50px; 
}
.purple{
    background-color: purple;
    position:relative;   
}
.yellow{
    background-color:yellow;
}
.red{
    background-color: red;
    position: absolute;
    right :10px;
}
.blue{
    background-color: blue;
    position:fixed;
    bottom: 0px;
}